@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');


* {
    box-sizing: border-box;
}

p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.6;
}

a {
    color: inherit;
}

*::selection {
    background-color: #4caef3;
    color: white;
}

input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    border: 1px solid #ccc;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
    border-radius: 8px;
    height: 42px;
    font-family: inherit;
    font-size: 16px;
    width: 410px;
}

input:focus {
    border-color: #4caef3;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

button {
    font-size: 20px;
    cursor: pointer;
    background: 0 0;
    width: initial;
    padding: 1.452vh 2.96vw;
    border-radius: 40px;
    transition: all .2s ease-in-out;
    margin: 0;
    -webkit-animation: ctaInAnimation .3s linear forwards;
    animation: ctaInAnimation .3s linear forwards;
    box-shadow: 0 0 1px -1px #121416;
    text-decoration: none;
    outline: none;
    background: #007be4;
    border-color: #3899EC;
    color: #fff;
    font-family: 'Raleway', sans-serif !important;
}

button:hover{
    background: #e4751b;
    border-color: #e4751b;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

button:active{
    outline: none;
}


/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}